{% extends "/index.html" %}

{% block head %}
{{ super() }}
{% include 'parts/_leaflet.html' %}

{% endblock head %}

{% block main_wrapper %}

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="widget">
                
                


                {% if modinit == 0 %}
                <h4 class="text-capitalize mb-4">Choose Analysis</h4>
                <p></p>
                <form method="post" action="/module" class="sub-form">
                <select id="select1" name="mod" class="form-control mb-3" aria-label="Default select example" onchange="myFunction()">
                    <option value="0" selected>請選擇模型結果</option>
                    <option value="1" >2021雙北行政區預測分析</option>
                    <option value="2" >最佳模型分析結果</option>
                </select>

                <select id="select2" name=district class="form-control mb-3" aria-label="Default select example">
                    <option value="0">請選擇地區</option>
                    {% for col in district %}
                    {# if col['id'] == 1 #}
                    <!-- <option value="{{col['id']}}" selected>{{col['district']}}</option> -->
                    {# else #}
                    <option value="{{col['id']}}">{{col['district']}}</option>
                    {# endif #}
                    {% endfor %}
                </select>


                <br>
                <button type="submit" class="btn btn-main btn-small">Submit</button>
                </form>

                {% elif modinit == 1 %}
                <h4 class="text-capitalize mb-4">Choose Analysis</h4>

                <form method="post" action="/module" class="sub-form">
                    <select id="select1" name="mod" class="form-control mb-3" aria-label="Default select example"  onchange="myFunction()">
                        <option value="0" >請選擇模型結果</option>
                        <option value="1" selected>2021雙北行政區預測分析</option>
                        <option value="2" >最佳模型分析結果</option>
                    </select>
    
                    <select id="select2" name=district class="form-control mb-3" aria-label="Default select example">
                        <option value="0">請選擇地區</option>
                        {% for col in district %}
                        {# if col['id'] == 1 #}
                        <!-- <option value="{{col['id']}}" selected>{{col['district']}}</option> -->
                        {# else #}
                        <option value="{{col['id']}}">{{col['district']}}</option>
                        {# endif #}
                        {% endfor %}
                    </select>


                    <br>
                    <button type="submit" class="btn btn-main btn-small">Submit</button>
                    </form>

                {% else %}
                <h4 class="text-capitalize mb-4">Choose Analysis</h4>
                <form method="post" action="/module" class="sub-form">

                    <select id="select1" name="mod" class="form-control mb-3" aria-label="Default select example"  onchange="myFunction2()">
                        <option value="0" >請選擇模型結果</option>
                        <option value="1" >2021雙北行政區預測分析</option>
                        <option value="2" selected>最佳模型分析結果</option>
                    </select>

                    <select id="select22" name=district class="form-control mb-3" aria-label="Default select example">
                        <option value="0">請選擇地區</option>
                        {% for col in district %}
                        {# if col['id'] == 1 #}
                        <!-- <option value="{{selected_ID}}" selected>{{col['district']}}</option> -->
                        {# else #}
                        <option value="{{col['id']}}">{{col['district']}}</option>
                        {# endif #}
                        {% endfor %}
                    </select>
                    <!-- <input type="text" class="form-control mb-3" placeholder="Subscribe Now ..."> -->

                    <br>
                    <button type="submit" class="btn btn-main btn-small">Submit</button>
                    <!-- <a href="#" class="btn btn-main btn-small">Commit</a> -->
                </form>

                

                <!-- <form method="post" action="/module" class="sub-form">

                    <select name="year" class="form-control mb-3" aria-label="Default select example">
                        <option value="2021" >2021</option>
                    </select>

                    <select name=district class="form-control mb-3" aria-label="Default select example">
                        {% for col in district %}
                        {% if col['id'] == 1 %}
                        <option value="{{col['id']}}" selected>{{col['district']}}</option>
                        {% else %}
                        <option value="{{col['id']}}">{{col['district']}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>

                    <br>
                    <button type="submit" class="btn btn-main btn-small">Submit</button>
                </form> -->

                    
                {% endif %}



            </div>
        </div>
    </div>
</div>

<div id="map"></div>




{% endblock main_wrapper %}

{% block footer %}
    
<footer class="footer fotsec">
    <div class="container">
        <div class="row1">

        </div>

        <div class="footer-btm pt-4 py-44">
            <div class="row1">
                <div class="col-lg-66" id="">
                    <div class="copyright">
                        Copyright &copy; 2022 <span class="text-color"></span>BDSE24 Team3<a
                            href="https://themefisher.com/" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock footer %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
    
    var map = L.map('map', {
        center: [25.029764687428475, 121.6012807284144],
        zoom: 9.5
    });
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var markers = new L.MarkerClusterGroup().addTo(map);

    RRR = {{ RRR }}
    
    var latlngs = [[51.505,-0.09],[52,-1],[51,-0.05],[51.3,-0.06]]
    var polygon = L.polygon(latlngs, {color: '#000eff',fillColor:'#0000ed',
                    weight:1}).addTo(map);

    if (RRR == 1) {
        L.marker([25.047058, 121.519752])
            .addTo(map)
            .bindPopup("I'm here")
    }
    else if (RRR == 2) {

        var tmpALL = {{ tmpAll| tojson }};

        tmpALL = JSON.parse(tmpALL);

        /*for (let i = 0; i < tmpALL.length; i++) {

            var tmpMark = [tmpALL[i][0], tmpALL[i][1]]

            L.marker(tmpMark)
                .addTo(map)
                .bindPopup(tmpALL[i][2] + " <br> " + tmpALL[i][3])
            //.openPopup();
        }*/

        for (let i = 0; i < tmpALL.length; i++) {

            var tmpMark = [tmpALL[i][0], tmpALL[i][1]]

            markers.addLayer(L.marker(tmpMark)
            .bindPopup(
                "地址 : " + tmpALL[i][2] + " <br> " + 
                //"總價 : " + tmpALL[i][3] + "萬 <br><br>"+  
                //"預測價格 : " + tmpALL[i][4] + "萬 <br><br>" +
                "坪數 : " + tmpALL[i][5] + "坪 <br>"+
                "每坪價格 : " + tmpALL[i][3] + "萬 <br>" +
                "預測每坪價格 : " + tmpALL[i][4] + "萬 <br>"
                )
            )
        }

    }
    else {
        //var latlngs = [[51.505,-0.09],[52,-1],[51,-0.05],[51.3,-0.06]]
        //var polygon = L.polygon(latlngs, {color: '#000eff',fillColor:'#0000ed',
        //            weight:1}).addTo(map);
        var tmpInfo_2021 = {{ tmpInfo_2021| tojson }};

        //tmpInfo_2021 = JSON.parse(tmpInfo_2021);

        fetch('returnjson', {
            method: "GET"
        }).then(function (response) {
            //console.log(response)
            return response.json();
        }).then(function(result){
            console.table(result)
            for (let obj of result){
                console.log(obj['district'])
                var polygon = L.polygon(obj['arr'], {color: '#000eff',fillColor:'#0000ed',
                weight:1}).addTo(map).bindPopup(
                    obj['district'] + "<br>" +
                    "實際地區均價" + obj['real_price'] + "<br>" +
                    "預測地區均價" + obj['anal_price'] + "<br>" +
                    "預測漲跌" + obj['diff']
                )
                //.openPopup();
            }
        })


        /*.then(function (arr) {
            console.table(arr)
            for (let obj of arr) {
                markers.addLayer(L.marker([obj['lat'], obj['lon']]))
                    .bindPopup(`${obj['AA11']}`);
            }
        });
        map.addLayer(markers);*/

        /*var DAAN = [
        [25.045325679381627, 121.53303623199463],
        [25.044625834670256, 121.53694152832031],
        [25.044586954291397, 121.54372215270996],
        [25.04513127847357, 121.54664039611816],
        [25.044625834670256, 121.54904365539551],
        [25.04415926931029, 121.55359268188477],
        [25.044820236379632, 121.55758380889893],
        [25.029383781527702, 121.55741214752197],
        [25.027789477798425, 121.55646800994873],
        [25.024134166676898, 121.55256271362305],
        [25.017134330924947, 121.56002998352051],
        [25.016006542277147, 121.56067371368408],
        [25.013400921994947, 121.5631628036499],
        [25.011456393220246, 121.56346321105957],
        [25.01001742210412, 121.56522274017334],
        [25.00826729937593, 121.56569480895996],
        [25.007178321536887, 121.564621925354],
        [25.0102118786456, 121.56045913696289],
        [25.012273099055935, 121.55706882476807],
        [25.011767519893326, 121.5558671951294],
        [25.01079524642272, 121.55462265014648],
        [25.009278484438518, 121.55376434326172],
        [25.008811784674876, 121.55226230621338],
        [25.009745182428812, 121.55110359191895],
        [25.009667399553546, 121.54917240142822],
        [25.009239592859274, 121.54792785644531],
        [25.00772281166325, 121.54479503631592],
        [25.00783948780488, 121.54187679290771],
        [25.0084228668505, 121.53930187225342],
        [25.008617325916628, 121.53788566589355],
        [25.011339720514613, 121.53732776641846],
        [25.014412064788928, 121.5347957611084],
        [25.019623207143603, 121.52934551239014],
        [25.0231231039545, 121.5252685546875],
        [25.02806167746246, 121.52174949645996],
        [25.032339021458675, 121.52239322662354],
        [25.035488606709624, 121.52423858642578],
        [25.034088801025142, 121.5272855758667],
        [25.03346666003844, 121.53273582458496],
        [25.04485911668452, 121.53290748596191]
      ]*/


        //var polygon = L.polygon(DAAN, {color: '#000eff',fillColor:'#0000ed',
        //            weight:1}).addTo(map).bindPopup("大安區").openPopup();
        


    }

    
    /*async function load_shapefile() {
        let url = 'static/towns/台北市/大安區.json';
        let shape_obj = await (await fetch(url)).json();
        return shape_obj
    }
    L.geoJson(load_shapefile()).addTo(map);*/



    function myFunction() {
        var x = document.getElementById("select1").value;
        if (x == "2") document.getElementById("select2").style.display = "initial" 
        else document.getElementById("select2").style.display = "none";
    }

    function myFunction2() {
        var x = document.getElementById("select1").value;
        if (x == "2") document.getElementById("select22").style.display = "initial" 
        else document.getElementById("select22").style.display = "none";
    }

</script>

{% endblock scripts %}