{% extends "/index.html" %}

{% block head %}
{{ super() }}
{% include 'parts/_leaflet.html' %}

{% endblock head %}

{% block main_wrapper %}

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="widget">
                
                


                {% if modinit == 0 %}
                <h4 class="text-capitalize mb-4">Choose Analysis</h4>
                <p></p>
                <form method="post" action="/module" class="sub-form">
                <select id="select1" name="mod" class="form-control mb-3" aria-label="Default select example" onchange="myFunction()">
                    <option value="0" selected>請選擇模型結果</option>
                    <option value="1" >2021雙北行政區預測分析</option>
                    <option value="2" >最佳模型分析結果</option>
                </select>

                <select id="select2" name=district class="form-control mb-3" aria-label="Default select example">
                    <option value="0">請選擇地區</option>
                    {% for col in district %}
                    {# if col['id'] == 1 #}
                    <!-- <option value="{{col['id']}}" selected>{{col['district']}}</option> -->
                    {# else #}
                    <option value="{{col['id']}}">{{col['district']}}</option>
                    {# endif #}
                    {% endfor %}
                </select>


                <br>
                <button type="submit" class="btn btn-main btn-small">Submit</button>
                </form>

                {% elif modinit == 1 %}
                <h4 class="text-capitalize mb-4">Choose Analysis</h4>

                <form method="post" action="/module" class="sub-form">
                    <select id="select1" name="mod" class="form-control mb-3" aria-label="Default select example"  onchange="myFunction()">
                        <option value="0" >請選擇模型結果</option>
                        <option value="1" selected>2021雙北行政區預測分析</option>
                        <option value="2" >最佳模型分析結果</option>
                    </select>
    
                    <select id="select2" name=district class="form-control mb-3" aria-label="Default select example">
                        <option value="0">請選擇地區</option>
                        {% for col in district %}
                        {# if col['id'] == 1 #}
                        <!-- <option value="{{col['id']}}" selected>{{col['district']}}</option> -->
                        {# else #}
                        <option value="{{col['id']}}">{{col['district']}}</option>
                        {# endif #}
                        {% endfor %}
                    </select>


                    <br>
                    <button type="submit" class="btn btn-main btn-small">Submit</button>
                    </form>

                {% else %}
                <h4 class="text-capitalize mb-4">Choose Analysis</h4>
                <form method="post" action="/module" class="sub-form">

                    <select id="select1" name="mod" class="form-control mb-3" aria-label="Default select example"  onchange="myFunction2()">
                        <option value="0" >請選擇模型結果</option>
                        <option value="1" >2021雙北行政區預測分析</option>
                        <option value="2" selected>最佳模型分析結果</option>
                    </select>

                    <select id="select22" name=district class="form-control mb-3" aria-label="Default select example">
                        <option value="0">請選擇地區</option>
                        {% for col in district %}
                        {# if col['id'] == 1 #}
                        <!-- <option value="{{selected_ID}}" selected>{{col['district']}}</option> -->
                        {# else #}
                        <option value="{{col['id']}}">{{col['district']}}</option>
                        {# endif #}
                        {% endfor %}
                    </select>
                    <!-- <input type="text" class="form-control mb-3" placeholder="Subscribe Now ..."> -->

                    <br>
                    <button type="submit" class="btn btn-main btn-small">Submit</button>
                    <!-- <a href="#" class="btn btn-main btn-small">Commit</a> -->
                </form>

                

                <!-- <form method="post" action="/module" class="sub-form">

                    <select name="year" class="form-control mb-3" aria-label="Default select example">
                        <option value="2021" >2021</option>
                    </select>

                    <select name=district class="form-control mb-3" aria-label="Default select example">
                        {% for col in district %}
                        {% if col['id'] == 1 %}
                        <option value="{{col['id']}}" selected>{{col['district']}}</option>
                        {% else %}
                        <option value="{{col['id']}}">{{col['district']}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>

                    <br>
                    <button type="submit" class="btn btn-main btn-small">Submit</button>
                </form> -->

                    
                {% endif %}



            </div>
        </div>
    </div>
</div>

<div id="map"></div>




{% endblock main_wrapper %}

{% block footer %}
    
<footer class="footer fotsec">
    <div class="container">
        <div class="row1">

        </div>

        <div class="footer-btm pt-4 py-44">
            <div class="row1">
                <div class="col-lg-66" id="">
                    <div class="copyright">
                        Copyright &copy; 2022 <span class="text-color"></span>BDSE24 Team3<a
                            href="https://themefisher.com/" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock footer %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
    
    var map = L.map('map', {
        center: [25.029764687428475, 121.6012807284144],
        zoom: 9.5
    });
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var markers = new L.MarkerClusterGroup().addTo(map);

    RRR = {{ RRR }}
    
    var latlngs = [[51.505,-0.09],[52,-1],[51,-0.05],[51.3,-0.06]]
    var polygon = L.polygon(latlngs, {color: '#000eff',fillColor:'#0000ed',
                    weight:1}).addTo(map);

    if (RRR == 1) {
        L.marker([25.047058, 121.519752])
            .addTo(map)
            .bindPopup("I'm here")
    }
    else {

        var tmpALL = {{ tmpAll| tojson }};

        tmpALL = JSON.parse(tmpALL);

        /*for (let i = 0; i < tmpALL.length; i++) {

            var tmpMark = [tmpALL[i][0], tmpALL[i][1]]

            L.marker(tmpMark)
                .addTo(map)
                .bindPopup(tmpALL[i][2] + " <br> " + tmpALL[i][3])
            //.openPopup();
        }*/

        for (let i = 0; i < tmpALL.length; i++) {

            var tmpMark = [tmpALL[i][0], tmpALL[i][1]]

            markers.addLayer(L.marker(tmpMark)
            .bindPopup(
                "地址 : " + tmpALL[i][2] + " <br> " + 
                //"總價 : " + tmpALL[i][3] + "萬 <br><br>"+  
                //"預測價格 : " + tmpALL[i][4] + "萬 <br><br>" +
                "坪數 : " + tmpALL[i][5] + "坪 <br>"+
                "每坪價格 : " + tmpALL[i][3] + "萬 <br>" +
                "預測每坪價格 : " + tmpALL[i][4] + "萬 <br>"
                )
            )
        }

    }

    



    function myFunction() {
        var x = document.getElementById("select1").value;
        if (x == "2") document.getElementById("select2").style.display = "initial" 
        else document.getElementById("select2").style.display = "none";
    }

    function myFunction2() {
        var x = document.getElementById("select1").value;
        if (x == "2") document.getElementById("select22").style.display = "initial" 
        else document.getElementById("select22").style.display = "none";
    }

</script>

{% endblock scripts %}